<div class ="row">
<% flash.each do |key, value| %>
      <div class= 'alert alert-<%= key %> col-xs-4 col-xs-offset-4' >
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%#= content_tag :div, msg, :id => "flash_info" if msg.is_a?(String) %>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
          
      </div>     
<% end %>
</div>
